.header {
    display: flex;
    justify-content: center;
}

.headerOrganizer {
    display: flex;
    align-items: center;

    width: 90%;

    padding: 10px;
}

.title {
    text-align: center;

    padding: 0 10px;
}
