.forecastDay{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 10px;
}

.forecastHours{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
}

.forecastHour{
    list-style-type: none;
}

.labelDayScore{
    height: 20px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid black;
    text-align: center;
}
